<div class="bg-wrap-header-top">
    <div class="wrap-header-section-top">
      <div class="content-header-top">
        <a routerLink="/about-us"> Về chúng tôi </a>
        <a href="javascript:void(0)"> Đăng ký nhận thông báo </a>
        <a href="javascript:void(0)"> Đăng nhập </a>
      </div>
    </div>
  </div>
  <div class="bg-wrap-header-bot">
    <div class="wrap-header-section-bot">
      <div class="logo-header-bot">
        <a routerLink="/">
          <img  src="assets/images/logo/logo.png" title="Logo" alt="Logo">
        </a>
      </div>

      <p *ngIf="!dataHeader">Loading....</p>

      <div class="content-header-bot" *ngIf="dataHeader">
          <div class="wrap-button" *ngFor="let item of dataHeader">

            <div class="has-child">
              <a routerLink="/products/{{item.id}}">
                {{item.name}}
              </a>

            </div>
          </div>
      </div>
      <div class="button-header-bot">
        <form onsubmit="event.preventDefault();" class="search-form">
          <input id="search" type="search" class="search-input" placeholder="    Tìm kiếm sản phẩm...">
          <button class="search-button">
            Tìm kiếm
          </button>
        </form>
        <a class="shoppingbag-button"  routerLink="/cart">
          <img src="assets/icon/shoppingbag.png">
        </a>
      </div>
    </div>
  </div>

