<!-- <div class="ads-grid_shop">
  <div class="shop_inner_inf">
      <h3 class="head">Giỏ hàng</h3>
      <p class="head_para">chi tiết </p>
  </div>
  
</div> -->
<div class="ads-grid_shop">
  <div class="shop_inner_inf">
    <div class="privacy about">
      <h3 class="head">Giỏ hàng</h3>
      <p class="head_para">chi tiết </p>

      <div class="checkout-right">
       
        <table class="timetable_sub">
          <thead>
            <tr>
              <th>SL</th>
              <th>Sản Phẩm</th>
              <th>Số lượng</th>
              <th>Tên Sản phẩm</th>

              <th>Giá</th>
              <th>Remove</th>
            </tr>
          </thead>
          <tbody>
            <tr class="rem1">
              <td class="invert">1</td>
              <td class="invert-image"><a href="single.html"><img src="assets/images/product/sp1.jpg" alt=" " class="img-responsive"></a></td>
              <td class="invert">
                <div class="quantity">
                  <div class="quantity-select">
                    <div class="entry value-minus">&nbsp;</div>
                    <div class="entry value"><span>1</span></div>
                    <div class="entry value-plus active">&nbsp;</div>
                  </div>
                </div>
              </td>
              <td class="invert">Nike IG</td>

              <td class="invert">300.000VND</td>
              <td class="invert">
                <div class="rem">
                  <div class="close1"> </div>
                </div>

              </td>
            </tr>
            <tr class="rem2">
              <td class="invert">2</td>
              <td class="invert-image"><a href="single.html"><img src="assets/images/product/sp1.jpg" alt=" " class="img-responsive"></a></td>
              <td class="invert">
                <div class="quantity">
                  <div class="quantity-select">
                    <div class="entry value-minus">&nbsp;</div>
                    <div class="entry value"><span>1</span></div>
                    <div class="entry value-plus active">&nbsp;</div>
                  </div>
                </div>
              </td>
              <td class="invert">Nike IG</td>

              <td class="invert">300.000VND</td>
              <td class="invert">
                <div class="rem">
                  <div class="close2"> </div>
                </div>

              </td>
            </tr>
            <tr class="rem3">
              <td class="invert">3</td>
              <td class="invert-image"><a href="single.html"><img src="assets/images/product/sp1.jpg" alt=" " class="img-responsive"></a></td>
              <td class="invert">
                <div class="quantity">
                  <div class="quantity-select">
                    <div class="entry value-minus">&nbsp;</div>
                    <div class="entry value"><span>1</span></div>
                    <div class="entry value-plus active">&nbsp;</div>
                  </div>
                </div>
              </td>
              <td class="invert">Nike IG</td>

              <td class="invert">300.000VND</td>
              <td class="invert">
                <div class="rem">
                  <div class="close3"> </div>
                </div>

              </td>
            </tr>

          </tbody>
        </table>
      </div>
      <div class="checkout-left">
        <div class="col-md-4 checkout-left-basket">
          <h4>Thông tin đơn hàng</h4>
          <ul>
            <li>  Nike IG <i>-</i> <span>300.000VND </span></li>
            <li> Nike IG  <i>-</i> <span>300.000VND </span></li>
            <li> Nike IG  <i>-</i> <span>300.000VND </span></li>
            <li> Tạm tính <i>-</i> <span>900.000VND</span></li>
            <li>Tổng giá trị <i>-</i> <span>900.000VND</span></li>
          </ul>
        </div>
        <div class="col-md-8 address_form">
          <h4>Thông tin khách hàng</h4>
          <form action="payment.html" method="post" class="creditly-card-form agileinfo_form">
            <section class="creditly-wrapper wrapper">
              <div class="information-wrapper">
                <div class="first-row form-group">
                  <div class="controls">
                    <label class="control-label">Họ và tên: </label>
                    <input class="billing-address-name form-control" type="text" name="name" placeholder="Họ và tên...">
                  </div>
                  <div class="card_number_grids">
                    <div class="card_number_grid_left">
                      <div class="controls">
                        <label class="control-label">Số điện thoại:</label>
                        <input class="form-control" type="text" placeholder="Số điện thoại...">
                      </div>
                    </div>
                    <div class="card_number_grid_right">
                      <div class="controls">
                        <label class="control-label">Địa chỉ: </label>
                        <input class="form-control" type="text" placeholder="Địa chỉ...">
                      </div>
                    </div>
                    <div class="clear"> </div>
                  </div>
                  <div class="controls">
                    <label class="control-label">Email: </label>
                    <input class="form-control" type="text" placeholder="Email...">
                  </div>
                 
                </div>
                <button class="submit check_out">Gửi đơn hàng</button>
               
              </div>
              
              <div class="checkout-right-basket">
                <a href="payment.html">Thanh toán </a>
              </div>
            </section>
          </form>
         
        </div>

        <div class="clearfix"> </div>


        <div class="clearfix"></div>
      </div>
    </div>
  </div>
 
</div>

