<div class="ads-grid_shop">
    <div class="shop_inner_inf">
        <div class="col-md-4 single-right-left ">
            <div class="grid images_3_of_2">
                <div class="flexslider">

                    <ul class="inr-img">
                        <li>
                            <div>
                                <img src="../../../assets/images/product/pumafuture54fg.jpg" data-imagezoom="true"
                                class="img-responsive"> </div>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
        <div class="col-md-8 single-right-left simpleCart_shelfItem" *ngIf="detail">
            <h3>{{detail.name}}</h3>
            <p><span class="item_price">{{detail.price | currency}} VND</span>
                <!-- <del>550.000VND</del> -->
            </p>
            <div class="rating1">
                <ul class="stars">
                    <li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-star-half-o" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-star-o" aria-hidden="true"></i></a></li>
                </ul>
            </div>
            <div class="description">
                <h5>Mã giảm giá</h5>
                <form action="#" method="post">
                    <input type="text" value="Nhập mã giả giá ..." onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Nhập mã ...';}"
                        required="">
                    <input type="submit" value="Kiểm tra">
                </form>
            </div>
            <div class="color-quality">
                <div class="color-quality-right">
                    <h5>Kích thước</h5>
                    <select id="country1" onchange="change_country(this.value)" class="frm-field required sect">
                            <option value="null">37</option>
                            <option value="null">38</option>
                            <option value="null">39</option>
                            <option value="null">40</option>
                            <option value="null">41</option>
                            <option value="null">42</option>
                            <option value="null">43</option>
                            <option value="null">44</option>
                        </select>
                </div>
            </div>
            <div class="occasional">
            </div>
            <div class="occasion-cart">
                <div class="shoe single-item single_page_b">
                        <input type="submit" name="submit" value="Add to cart" class="button add" (click)="addToCart(detail)">
                </div>

            </div>
            <ul class="social-nav model-3d-0 footer-social social single_page">
                <li class="share">Chia sẻ  : </li>
                <li>
                    <a href="#" class="facebook">
                        <div class="front"><i class="fa fa-facebook" aria-hidden="true"></i></div>
                        <div class="back"><i class="fa fa-facebook" aria-hidden="true"></i></div>
                    </a>
                </li>
                <li>
                    <a href="#" class="twitter">
                        <div class="front"><i class="fa fa-twitter" aria-hidden="true"></i></div>
                        <div class="back"><i class="fa fa-twitter" aria-hidden="true"></i></div>
                    </a>
                </li>
                <li>
                    <a href="#" class="instagram">
                        <div class="front"><i class="fa fa-instagram" aria-hidden="true"></i></div>
                        <div class="back"><i class="fa fa-instagram" aria-hidden="true"></i></div>
                    </a>
                </li>
                <li>
                    <a href="#" class="pinterest">
                        <div class="front"><i class="fa fa-linkedin" aria-hidden="true"></i></div>
                        <div class="back"><i class="fa fa-linkedin" aria-hidden="true"></i></div>
                    </a>
                </li>
            </ul>

        </div>
        <div class="clearfix"> </div>
        <!--/tabs-->
        <div class="responsive_tabs">
            <div id="horizontalTab">
                <div class="shop_inner_inf">
                    <h3 class="head">Chi tiết sản phẩm</h3>
                    <p class="head_para">một số mô tả</p>
                </div>
                <div class="resp-tabs-container">
                    <!--/tab_one-->
                    <div class="tab1">

                        <div class="single_page">
                                <div [innerHtml]="content"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--//tabs-->
        <!-- /new_arrivals -->
        <div class="new_arrivals">
            <h3>Featured Products</h3>
            <!-- /womens -->
            <span *ngIf="!listProductFeatures">Loading...</span>
            <div class="col-md-3 product-men women_two" *ngFor="let item of listProductFeatures">
                <div class="product-shoe-info shoe">
                    <div class="men-pro-item">
                        <div class="men-thumb-item">
                            <img src="assets/images/product/pumafuture54fg.jpg" alt="">
                            <div class="men-cart-pro">
                                <div class="inner-men-cart-pro">
                                    <a routerLink="/detail-product/{{item.id}}" class="link-product-add-cart">CHI TIẾT</a>
                                </div>
                            </div>
                            <span class="product-new-top">SP MỚI</span>
                        </div>
                        <div class="item-info-product">
                            <h4>
                                <a routerLink="/detail-product/{{item.id}}">{{item.name}} </a>
                            </h4>
                            <div class="info-product-price">
                                <div class="grid_meta">
                                    <div class="product_price">
                                        <div class="grid-price ">
                                            <span class="money ">{{item.price}} VND</span>
                                        </div>
                                    </div>
                                    <ul class="stars">
                                        <li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
                                        <li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
                                        <li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
                                        <li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
                                        <li><a href="#"><i class="fa fa-star-half-o" aria-hidden="true"></i></a></li>
                                    </ul>
                                </div>
                                <div class="shoe single-item hvr-outline-out">
                                    <form action="#" method="post">
                                        <input type="hidden" name="cmd" value="_cart">
                                        <input type="hidden" name="add" value="1">
                                        <input type="hidden" name="shoe_item" value="Shuberry Heels">
                                        <input type="hidden" name="amount" value="575.00">
                                        <button type="submit" class="shoe-cart pshoe-cart"><i class="fa fa-cart-plus" aria-hidden="true"></i></button>

                                        <a href="#" data-toggle="modal" data-target="#myModal1"></a>
                                    </form>

                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            </div>


            <!-- //womens -->
            <div class="clearfix"></div>
        </div>
        <!--//new_arrivals-->


    </div>
</div>
<!-- //top products -->
