<div class="container">
    <div class="fs-section">
      <div class="fs-cnt-banner">
        <img src="assets/banner/top-banner.jpg" title="top-banner" alt="top-banner" />
        <div class="wrap-button">
          <a class="btn black shadow" href="javascript:void(0)" title="Xem chi tiết">
            Xem chi tiết
            <span>
              <img src="assets/icon/arrow-icon.png" />
            </span>
          </a>
        </div>
      </div>
    </div>
    <div class="fs-section-fixed">
      <h1>THƯƠNG HIỆU UY TÍN</h1>
      <div class="wrap-trending">
        <div class="banner-trending">
            <a href="javascript:void(0)" title="nike-banner">
              <div class="wrap-banner-trending">
                <img src="assets/banner/nike-banner.jpg" title="nike-banner" alt="nike-banner" />
              </div>
            </a>
          <h2>NIKE</h2>
        </div>
        <div class="banner-trending">
            <a href="javascript:void(0)" title="adidas-banner">
              <div class="wrap-banner-trending">
                <img src="assets/banner/adidas-banner.jpg" title="adidas-banner" alt="adidas-banner" />
              </div>
            </a>
          <h2>ADIDAS</h2>
        </div>
        <div class="banner-trending">
            <a href="javascript:void(0)" title="puma-banner">
              <div class="wrap-banner-trending">
                <img src="assets/banner/puma-banner.jpg" title="puma-banner" alt="puma-banner" />
              </div>
            </a>
          <h2>PUMA</h2>
        </div>
      </div>
    </div>
    <div class="fs-section-fixed">
      <h1>SẢN PHẨM TỐT NHẤT</h1>
      <div class="wrap-content">
        <swiper effect="fade" [pagination]="{type: 'progressbar'}" [navigation]="true">
          <ng-template swiperSlide>
            <div class="wrap-product">
              <div class="wrap-cnt-product">
                <a href="javascript:void(0)">
                  <div class="wrap-img-product">
                    <img src="../../../assets/images/product/mercuriallvapor13.jpg" title="nike-product" alt="nike-product" />
                  </div>
                  <h5 class="title"> NIKE </h5>
                  <h4 class="name"> Nike Mercuriall Vapor 13 </h4>
                  <p class="price"> 1.5000.000 VND </p>
                </a>
              </div>
              <div class="wrap-cnt-product">
                <a href="javascript:void(0)">
                  <div class="wrap-img-product">
                    <img src="../../../assets/images/product/mercurialsuperfly7.jpg" title="nike-product" alt="nike-product" />
                  </div>
                  <h5 class="title"> NIKE </h5>
                  <h4 class="name"> Nike Mercuriall SuperFly 7 </h4>
                  <p class="price"> 1.7000.000 VND </p>
                </a>
              </div>
              <div class="wrap-cnt-product">
                <a href="javascript:void(0)">
                  <div class="wrap-img-product">
                    <img src="../../../assets/images/product/predator203tf.jpg" title="adidas-product" alt="adidas-product" />
                  </div>
                  <h6 class="title"> ADIDAS </h6>
                  <h5 class="name"> Adidas Prdator 20.3 TF </h5>
                  <p class="price"> 1.7000.000 VND </p>
                </a>
              </div>
              <div class="wrap-cnt-product">
                <a href="javascript:void(0)">
                  <div class="wrap-img-product">
                    <img src="../../../assets/images/product/predator19fg.jpg" title="adidas-product" alt="adidas-product" />
                  </div>
                  <h6 class="title"> ADIDAS </h6>
                  <h5 class="name"> Adidas Prdator 19 fg </h5>
                  <p class="price"> 1.7000.000 VND </p>
                </a>
              </div>
              <div class="wrap-cnt-product">
                <a href="javascript:void(0)">
                  <div class="wrap-img-product">
                    <img src="../../../assets/images/product/pumafuture54fg.jpg" title="puma-product" alt="puma-product" />
                  </div>
                  <h6 class="title"> PUMA </h6>
                  <h5 class="name"> Puma future 54 fg </h5>
                  <p class="price"> 1.3000.000 VND </p>
                </a>
              </div>
              <div class="wrap-cnt-product">
                <a href="javascript:void(0)">
                  <div class="wrap-img-product">
                    <img src="../../../assets/images/product/mercuriallvapor13.jpg" title="nike-product" alt="nike-product" />
                  </div>
                  <h5 class="title"> NIKE </h5>
                  <h4 class="name"> Nike Mercuriall Vapor 13 </h4>
                  <p class="price"> 1.5000.000 VND </p>
                </a>
              </div>
              <div class="wrap-cnt-product">
                <a href="javascript:void(0)">
                  <div class="wrap-img-product">
                    <img src="../../../assets/images/product/mercurialsuperfly7.jpg" title="nike-product" alt="nike-product" />
                  </div>
                  <h5 class="title"> NIKE </h5>
                  <h4 class="name"> Nike Mercuriall SuperFly 7 </h4>
                  <p class="price"> 1.7000.000 VND </p>
                </a>
              </div>
              <div class="wrap-cnt-product">
                <a href="javascript:void(0)">
                  <div class="wrap-img-product">
                    <img src="../../../assets/images/product/predator203tf.jpg" title="adidas-product" alt="adidas-product" />
                  </div>
                  <h6 class="title"> ADIDAS </h6>
                  <h5 class="name"> Adidas Prdator 20.3 TF </h5>
                  <p class="price"> 1.7000.000 VND </p>
                </a>
              </div>
              <div class="wrap-cnt-product">
                <a href="javascript:void(0)">
                  <div class="wrap-img-product">
                    <img src="../../../assets/images/product/predator19fg.jpg" title="adidas-product" alt="adidas-product" />
                  </div>
                  <h6 class="title"> ADIDAS </h6>
                  <h5 class="name"> Adidas Prdator 19 fg </h5>
                  <p class="price"> 1.7000.000 VND </p>
                </a>
              </div>
              <div class="wrap-cnt-product">
                <a href="javascript:void(0)">
                  <div class="wrap-img-product">
                    <img src="../../../assets/images/product/pumafuture54fg.jpg" title="puma-product" alt="puma-product" />
                  </div>
                  <h6 class="title"> PUMA </h6>
                  <h5 class="name"> Puma future 54 fg </h5>
                  <p class="price"> 1.3000.000 VND </p>
                </a>
              </div>
            </div>
          </ng-template>
           <ng-template swiperSlide>
            <div class="wrap-product">
              <div class="wrap-cnt-product">
                <a href="javascript:void(0)">
                  <div class="wrap-img-product">
                    <img src="../../../assets/images/product/mercuriallvapor13.jpg" title="nike-product" alt="nike-product" />
                  </div>
                  <h6 class="title"> NIKE </h6>
                  <h5 class="name"> Nike Mercuriall Vapor 13 </h5>
                  <p class="price"> 1.5000.000 VND </p>
                </a>
              </div>
              <div class="wrap-cnt-product">
                <a href="javascript:void(0)">
                  <div class="wrap-img-product">
                    <img src="../../../assets/images/product/mercurialsuperfly7.jpg" title="nike-product" alt="nike-product" />
                  </div>
                  <h6 class="title"> NIKE </h6>
                  <h5 class="name"> Nike Mercuriall SuperFly 7 </h5>
                  <p class="price"> 1.7000.000 VND </p>
                </a>
              </div>
              <div class="wrap-cnt-product">
                <a href="javascript:void(0)">
                  <div class="wrap-img-product">
                    <img src="../../../assets/images/product/predator203tf.jpg" title="adidas-product" alt="adidas-product" />
                  </div>
                  <h6 class="title"> ADIDAS </h6>
                  <h5 class="name"> Adidas Prdator 20.3 TF </h5>
                  <p class="price"> 1.7000.000 VND </p>
                </a>
              </div>
              <div class="wrap-cnt-product">
                <a href="javascript:void(0)">
                  <div class="wrap-img-product">
                    <img src="../../../assets/images/product/predator19fg.jpg" title="adidas-product" alt="adidas-product" />
                  </div>
                  <h6 class="title"> ADIDAS </h6>
                  <h5 class="name"> Adidas Prdator 19 fg </h5>
                  <p class="price"> 1.7000.000 VND </p>
                </a>
              </div>
              <div class="wrap-cnt-product">
                <a href="javascript:void(0)">
                  <div class="wrap-img-product">
                    <img src="../../../assets/images/product/pumafuture54fg.jpg" title="puma-product" alt="puma-product" />
                  </div>
                  <h6 class="title"> PUMA </h6>
                  <h5 class="name"> Puma future 54 fg </h5>
                  <p class="price"> 1.3000.000 VND </p>
                </a>
              </div>
            </div>
          </ng-template>
        </swiper>
      </div>
    </div>
    <div class="fs-section-fixed">
      <div class="wrap-intro">
        <div class="wrap-cnt-intro">
            <a href="javascript:void(0)" >
              <div class="wrap-banner-intro">
                <img src="assets/banner/puma-banner-player.jpg" />
              </div>
            </a>
          <h4>Puma Power Up Pack </h4>
          <h6>Ai cũng có sở thích riêng của mình. Hãy lựa chọn theo cách của bạn và luôn tỏa sáng trên sân cỏ.</h6>
          <div class="wrap-button-fix">
            <a class="btn black shadow" href="javascript:void(0)" title="Xem chi tiết">
              Mua ngay
              <span>
                <img src="assets/icon/arrow-icon.png" />
              </span>
            </a>
          </div>
        </div>
        <div class="wrap-cnt-intro">
          <div class="wrap-banner-intro">
            <swiper effect="fade" [autoplay]="{delay: 3000,disableOnInteraction: false}" >
              <ng-template swiperSlide>
                <a href="javascript:void(0)">
                  <div class="wrap-banner-intro">
                    <img src="assets/banner/swiper/adidas-Predator-Absolute-Eternal-Clas.jpg"/>
                  </div>
                </a>
              </ng-template>
              <ng-template swiperSlide>
                <a href="javascript:void(0)">
                  <div class="wrap-banner-intro">
                    <img src="assets/banner/swiper/adidas-Predator-Mutator-x-Human-Race.jpg"/>
                  </div>
                </a>
              </ng-template>
              <ng-template swiperSlide>
                <a href="javascript:void(0)" >
                  <div class="wrap-banner-intro">
                    <img src="assets/banner/swiper/Nike-Mercurial-Dream-Speed-003.jpg"/>
                  </div>
                </a>
              </ng-template>
              <ng-template swiperSlide>
                <a href="javascript:void(0)">
                  <div class="wrap-banner-intro">
                    <img src="assets/banner/swiper/Nike-Mercurial-Superfly.jpg"/>
                  </div>
                </a>
              </ng-template>
              <ng-template swiperSlide>
                <a href="javascript:void(0)">
                  <div class="wrap-banner-intro">
                    <img src="assets/banner/swiper/Nike-Phantom-VNM-T90-Future-DNA.jpg"/>
                  </div>
                </a>
              </ng-template>
            </swiper>
          </div>
          <h4> Bộ sưu tập</h4>
          <h6> Bộ sưu tập các dòng giày chất lượng nhất hiện nay đem đến cho bạn cảm giác chơi bóng tốt nhất.  </h6>
        <div class="wrap-button-fix">
          <a class="btn black shadow" href="javascript:void(0)" title="Xem chi tiết">
            Mua ngay
            <span>
              <img src="assets/icon/arrow-icon.png" />
            </span>
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="fs-section-fixed-register">
      <div class="wrap-register">
        <a href="javascript:void(0)">
          <h4>ĐĂNG KÝ THÔNG TIN ĐỂ NHẬN ƯU ĐÃI NGAY</h4>
        </a>
      </div>
  </div>







