<div class="ads-grid_shop">
    <div class="shop_inner_inf">
        <h3 class="head">Về Chúng Tôi</h3>
        <p class="head_para">một số mô tả</p>
        <div class="inner_section_w3ls">
            <div class="col-md-7 contact_grid_right">
                <h6>Vui lòng điền vào biểu mẫu này để liên hệ với chúng tôi.</h6>
                <form action="#" method="post">
                    <div class="col-md-6 col-sm-6 contact_left_grid">
                        <input type="text" name="Name" placeholder="Nhập họ và tên" required="">
                        <input type="email" name="Email" placeholder="Nhập Email" required="">
                    </div>
                    <div class="col-md-6 col-sm-6 contact_left_grid">
                        <input type="text" name="Telephone" placeholder="Nhập số điên thoại" required="">
                        <input type="text" name="Subject" placeholder="Khác" required="">
                    </div>
                    <div class="clearfix"> </div>
                    <textarea name="Message" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Nhập nội dung...';}" required="">Nhập nội dung...</textarea>
                    <input type="submit" value="Gửi">
                    <input type="reset" value="Xóa thông tin">
                </form>
            </div>
            <div class="col-md-5 contact-left">
                <h6>Thông tin liên lạc</h6>
                <div class="visit">
                    <div class="col-md-2 col-sm-2 col-xs-2 contact-icon">
                        <span class="fa fa-home" aria-hidden="true"></span>
                    </div>
                    <div class="col-md-10 col-sm-10 col-xs-10 contact-text">
                        <h4>Địa chỉ</h4>
                        <p>123 p1 q1 TP HCM</p>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="mail-us">
                    <div class="col-md-2 col-sm-2 col-xs-2 contact-icon">
                        <span class="fa fa-envelope" aria-hidden="true"></span>
                    </div>
                    <div class="col-md-10 col-sm-10 col-xs-10 contact-text">
                        <h4>Email</h4>
                        <p><a href="123Admin@gmail.com">123Admin@gmail.com</a></p>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="call">
                    <div class="col-md-2 col-sm-2 col-xs-2 contact-icon">
                        <span class="fa fa-phone" aria-hidden="true"></span>
                    </div>
                    <div class="col-md-10 col-sm-10 col-xs-10 contact-text">
                        <h4>Số điện thoại</h4>
                        <p>0123213213213</p>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="visit">
                    <div class="col-md-2 col-sm-2 col-xs-2 contact-icon">
                        <span class="fa fa-fax" aria-hidden="true"></span>
                    </div>
                    <div class="col-md-10 col-sm-10 col-xs-10 contact-text">
                        <h4>Fax</h4>
                        <p>123123213125</p>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="clearfix"> </div>

        </div>

        <div class="clearfix"></div>

    </div>
</div>
<div class="contact-map">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d823.9659452386078!2d106.66664499779277!3d10.775729295455896!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x5fa3e1b5c58675d7!2zVHLGsOG7nW5nIMSQ4bqhaSBo4buNYyBOZ2_huqFpIG5n4buvIC0gVGluIGjhu41jIFRQLkhDTSAtIEhVRkxJVA!5e0!3m2!1svi!2s!4v1622043836224!5m2!1svi!2s" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
</div>