
<div class="bg-wrap-footer">
    <div class="wrap-footer">
      <div class="footer-top">
        <div class="flex-col">
          <a href="javascript:void(0)">
            <p style="color: #fff;">CỬA HÀNG </p>
          </a>
          <a href="javascript:void(0)">
            <p style="color: #fff;">ĐĂNG KÝ THÀNH VIÊN </p>
          </a>
          <a href="javascript:void(0)">
            <p style="color: #fff;">ĐĂNG KÝ EMAIL </p>
          </a>
          <a href="javascript:void(0)">
            <p style="color: #fff;"> GỬI PHẢN HỒI </p>
          </a>
        </div>
        <div class="flex-col">
          <a href="javascript:void(0)">
            <p style="color: #fff;"> TRỢ GIÚP </p>
          </a>
          <a href="javascript:void(0)">
            <p> Tình trạng đặt hàng </p>
          </a>
          <a href="javascript:void(0)">
            <p>Các lựa chọn thanh toán </p>
          </a>
          <a href="javascript:void(0)">
            <p> Liên hệ với chúng tôi</p>
          </a>
        </div>
        <div class="flex-col">
          <a href="javascript:void(0)">
            <p style="color: #fff;"> VỀ CHÚNG TÔI  </p>
          </a>
          <a href="javascript:void(0)">
            <p>  Tin tức </p>
          </a>
          <a href="javascript:void(0)">
            <p>  Liên hệ </p>
          </a>
          <a href="javascript:void(0)">
            <p> FAQ </p>
          </a>
        </div>
        <div class="flex-col">
          <div class="wrap-social-icon">
            <a href="javascript:void(0)" title="zalo">
              <img  src="assets/icon/social-zalo.png" title="zalo" alt="zalo">
            </a>
            <a href="javascript:void(0)" title="instagram">
              <img src="assets/icon/social-instagram.png" title="instagram" alt="instagram">
            </a>
            <a  href="javascript:void(0)" title="youtube">
              <img src="assets/icon/social-youtube.png" title="youtube" alt="youtube">
            </a>
            <a href="javascript:void(0)" title="facebook">
              <img src="assets/icon/social-facebook.png" title="facebook" alt="facebook">
            </a>
          </div>
        </div>
      </div>
      <div class="footer-bot">
        <ul class="flex-row">
          <li>
            <a href="javascript:void(0)" title="local">
              <img style="width: 12px; margin-right: 10px;" src="assets/icon/icon-location.png">
              <b style="color: white;">Việt Nam</b>
            </a>
          </li>
          <li style="margin: auto 40px;"><a> ©2021 Copyright </a></li>
          <li><a href="javascript:void(0)"> Hướng dẫn - </a></li>
          <li><a href="javascript:void(0)"> Điều khoản bán hàng - </a></li>
          <li><a href="javascript:void(0)"> Điều khoản sử dụng </a></li>
        </ul>
      </div>
    </div>
  </div>
  <!-- <a routerLink="" id="toTop" class="scroll" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a> -->

  
